<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}">
<body>
<div layout:fragment="content" class="main-content d-flex justify-content-center">
    <div class="row">
        <div class="col-md-12 my-3 bg-light py-2 d-flex align-items-center">
            <button class="btn btn-success">New <i class="zmdi zmdi-plus-circle ms-2"></i></button>
            <h1 class="h2 ms-4">On Going Elections</h1>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img src="https://www.tbsnews.net/sites/default/files/styles/amp_metadata_content_image_min_696px_wide/public/images/2023/04/18/election_commission_0.jpg"
                     class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">National Election</h5>
                    <p class="card-text text-center fw-bold">Total Vote Casted: <br><span class="fw-light">02</span></p>
                    <p class="card-text text-center fw-bold">Vote Started: <br><span class="fw-light" >21 September, 9:00AM</span></p>
                    <p class="card-text text-center fw-bold">Vote Ends In: <br><span class="fw-light" >1D 2H 3M 30S</span></p>
                    <div class="border border-success text-center py-1 my-2">Open</div>
                    <a href="#" class="btn btn-primary">Edit</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img src="https://www.tbsnews.net/sites/default/files/styles/amp_metadata_content_image_min_696px_wide/public/images/2023/04/18/election_commission_0.jpg"
                     class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">National Election</h5>
                    <p class="card-text text-center fw-bold">Total Vote Casted: <br><span class="fw-light">02</span></p>
                    <p class="card-text text-center fw-bold">Vote Started: <br><span class="fw-light" >21 September, 9:00AM</span></p>
                    <p class="card-text text-center fw-bold">Vote Ended at: <br><span class="fw-light" >25 September, 9:00AM</span></p>
                    <div class="border border-danger text-center py-1 my-2">Closed</div>
                    <a href="#" class="btn btn-primary">Edit</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img src="https://www.tbsnews.net/sites/default/files/styles/amp_metadata_content_image_min_696px_wide/public/images/2023/04/18/election_commission_0.jpg"
                     class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">National Election</h5>
                    <p class="card-text text-center fw-bold">Total Vote Casted: <br><span class="fw-light">02</span></p>
                    <p class="card-text text-center fw-bold">Vote Will Start at: <br><span class="fw-light" >21 September, 9:00AM</span></p>
                    <p class="card-text text-center fw-bold">Vote Will End at: <br><span class="fw-light" >25 September, 9:00AM</span></p>
                    <div class="border border-info text-center py-1 my-2">Upcoming</div>
                    <a href="#" class="btn btn-primary">Edit</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img src="https://www.tbsnews.net/sites/default/files/styles/amp_metadata_content_image_min_696px_wide/public/images/2023/04/18/election_commission_0.jpg"
                     class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">National Election</h5>
                    <p class="card-text text-center fw-bold">Total Vote Casted: <br><span class="fw-light">02</span></p>
                    <p class="card-text text-center fw-bold">Vote Will Start at: <br><span class="fw-light" >21 September, 9:00AM</span></p>
                    <p class="card-text text-center fw-bold">Vote Will End at: <br><span class="fw-light" >25 September, 9:00AM</span></p>
                    <div class="border border-info text-center py-1 my-2">Upcoming</div>
                    <a href="#" class="btn btn-primary">Edit</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>